{{ define "plants/form.html" }}
{{ template "header.html" . }}
<form method="POST" action="/plants/create">
  <table width="60%">
    <tr>
      <td><label for="familyname">Family:</label></td>
      <td><input type="text" placeholder="Family" name="familyname" id="familyname" value="{{ .plant.Family.Name }}"></td>
    </tr>
    <tr>
      <td><label for="genus">Genus:</label></td>
      <td><input type="text" placeholder="Genus" name="genus" id="genus" value="{{ .plant.Genus.Name }}"></td>
    </tr>
    <tr>
      <td><label for="species">Species:</label></td>
      <td><input type="text" placeholder="species" name="species" id="species" value="{{ .plant.Species.Name }}"></td>
    </tr>
    <tr>
      <td><label for="subspecies">Species:</label></td>
      <td><input type="text" placeholder="subspecies" name="subspecies" id="subspecies" value="{{ .plant.SubSpecies }}"></td>
    </tr>
    <tr>
      <td><label for="variety">Variety:</label></td>
      <td><input type="text" placeholder="Variety" name="variety" id="variety" value="{{ .plant.Variety }}"></td>
    </tr>
    <tr>
      <td><label for="commonname">Common Name:</label></td>
      <td><input type="text" placeholder="Common Name" name="commonname" id="commonname" value="{{ .plant.CommonName }}"></td>
    </tr>
    <tr>
      <td><label for="description">Description:</label></td>
      <td><textarea name="description" id="description" rows="4" cols="50">{{ .plant.PlantDetail.Description }}</textarea></td>
  </table>
  <div>
    <input type="SUBMIT">
  </div>
</form>
{{ template "footer.html" . }}
{{ end }}