{{ define "plants/show.html" }}
{{ template "header.html" . }}
<div align="center">
    <table width="60%">
        <tr>
            <td>Name</td>
            <td>{{ .plant.Name }}</td>
        </tr>
        <tr>
            <td>Common Name</td>
            <td>{{ .plant.CommonName }}</td>
        </tr>
        {{ if .plant.FamilyID }}
        <tr>
            <td>Family</td>
            <td>{{ .plant.Family.Name }}</td>
        </tr>
        {{ end }}
        <tr>
            <td>Genus</td>
            <td>{{ .plant.Genus.Name }}</td>
        </tr>
        <tr>
            <td>Species</td>
            <td>{{ .plant.Species.Name }}</td>
        </tr>
        <tr>
            <td>Flower Color</td>
            <td>{{ .plant.PlantDetail.FlowerColor }}</td>
        </tr>
        <tr>
            <td>Hardiness</td>
            <td>{{ .plant.PlantDetail.Hardiness }}</td>
        </tr>
        <tr>
            <td>Height</td>
            <td align="left">{{ .plant.PlantDetail.Height }}</td>
        </tr>
        <tr>
            <td>Spread</td>
            <td align="left">{{ .plant.PlantDetail.Spread }}</td>
        </tr>
        <tr>
            <td>Altitude</td>
            <td align="left">{{ .plant.PlantDetail.Altitude }}</td>
        </tr>
    </table>
</div>
<div align="center">
    <table width="60%">
        <tr>
            <td>Description</td>
            <td>{{ .plant.PlantDetail.Description }}</td>
        </tr>
    </table>
</div>

{{ template "footer.html" . }}
{{ end }}